/*
font-family: 'Pirata One', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/
* {
	box-sizing: border-box;
}

body {
	color: #333;
	font-family: monospace;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: teal; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header {
	background-color: #000;
	color: white;
	min-height: 100px;
	margin-top: 60px;
}

header h1 {
	font-family: 'Pirata One', cursive;
	padding: 40px 60px;
	font-size: 48px;
}

h2 {
	font-style: bold;
	text-decoration: underline;
}


/* Nav styles */
nav { background-color: #333; }
nav ul {
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; }
nav a { color: white; }
nav a:hover { color: teal; }


/* Main styles */
main {
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: none;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer {
	background-color: #000;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
